            <section class="col-xl-3 col-lg-3 col-md-12 col-sm-12" id="contact-info-container">

                <img src="Img/Kaizuka.jpg" alt="Profile picture of Denis Ureke" id="img-contact">
                <div class="image-shape-container">
                    <div id="image-shape"></div>
                </div>

                <div id="name">
                    Denis Ureke
                </div>
                <div id="occupation">
                    Student
                </div>

                <section id="social-media-icons">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-github"></i>
                    <i class="fab fa-linkedin"></i>
                    <i class="fab fa-whatsapp"></i>
                </section>

                <footer id="contact-footer">
                    <a href="">Download CV</a>
                    <a href="">Contact Me</a>
                </footer>

            </section>