<section class="col-xl-10 col-lg-10 col-md-12 col-sm-12" id="admin-window-container">

    <div class="admin-grid-composition">
        <div class="admin-output-window"></div>
        <div class="server-message-window"></div>
        <div class="admin-input-window">
            <form action="" method="GET" id="admin-changes" class="admin-container">
                <textarea name="Search update delete" id="admin-sql" class="input-admin" autocomplete="off"
                    placeholder="Write SQL query here, please start with the execution you want to be done ex: UPDATE or SELECT:" title="Database access"></textarea>
                <button type="button" id="submitButton-sql">Submit</button>
            </form>
        </div>


    </div>


</section>
<script type="module" src="./script.js"></script>