<section class="col-xl-10 col-lg-10 col-md-12 col-sm-12" id="admin-window-container">
    <div class="admin-grid-composition">
        <textarea class="admin-output-window " style="white-space">{{Message}}</textarea>
        <div class="server-message-window">{{Status}}</div>
        <div class="admin-input-window">
            <form action="/middleware-run" method="POST" class="admin-container">
                <textarea name="query" id="admin-sql" class="input-admin" autocomplete="off"
                    placeholder="Write SQL query here, please start with the execution you want to be done ex: UPDATE or SELECT:" title="Database access" rows="4"></textarea>
                <div class="buttons-container"><button type="submit" id="submitButton-sql">Submit</button>
                </div>
            </form>
        </div>
        <div class="admin-buttons-window"><div class="admin-header">Quick access</div><button type="submit" class ="admin-table-button">Button</button><button type="submit" class ="admin-table-button">Button</button>
        <button type="submit" class ="admin-table-button">Button</button><button type="submit" class ="admin-table-button">Button</button>
        <button type="submit" class ="admin-table-button">Button</button></div>
    </div>
</section>