<section class="col-xl-10 col-lg-10 col-md-12 col-sm-12" id="admin-window-container">
    <div class="admin-grid-composition">
        <div class="admin-output-window"></div>
        <div class="server-message-window"></div>
        <div class="admin-input-window">
            <form action="/your-server-endpoint" method="POST" class="admin-container">
                <textarea name="query" id="admin-sql" class="input-admin" autocomplete="off"
                    placeholder="Write SQL query here, please start with the execution you want to be done ex: UPDATE or SELECT:" title="Database access" rows="4"></textarea>
                <div class="buttons-container"><button type="submit" id="submitButton-sql">Submit</button><button type="button" id="rollback-sql">Rollback</button></div>
            </form>
        </div>
    </div>
</section>