<section class="col-xl-6 col-lg-8 col-md-12 col-sm-12" id="main-window-container">
    <div class="main-window-header-image mirror-image"><img src="Img/trees-telephone.jpg"
            alt="Sunset view and tree-tops" id="home-sunset-picture"></div>
    <div class="main-page-icon"><i class="fas fa-briefcase color-pink"></i></div>
    <div class="header-headline">react<div class="header-headline-bolded">AND</div>read
    </div>

        <form action="/login" method="POST" id="loginForm" class="log-in-container">

            <div class="justify-center-container">
                <div class="log-in-input-box">
                    <div class="log-in-instruction">Enter your Email or Username</div>
                    <input type="text" name="emailOrUsername" id="email" class="input-box" required autocomplete="off"
                        placeholder="example@example.com or username" title="Enter your email address or username">
                </div>

                <div class="log-in-input-box">
                    <div class="log-in-instruction">Enter your password</div>
                    <input type="password" name="password" id="password" class="input-box" required autocomplete="off"
                        placeholder="Password" title="Enter your password">
                </div>

                <button class="button-log-in" id="log-in-button" type="submit">Log in</button>
            </div>

            <div class="log-in-instruction" id="not-registered">
                Not registered?
                <a href="/register" class="register-link">Register Here!</a>
            </div>
        </form>
</section>
<script type="module" src="./script.js"></script>