<section class="col-xl-6 col-lg-8 col-md-12 col-sm-12" id="main-window-container">
    <div class="main-window-header-image"><img src="Img/skyandtrucks.jpg" alt="Picture of a sunset in city"
            id="home-sunset-picture"></div>
    <div class="main-page-icon"><i class="fas fa-laptop current-page"></i></div>
    <div class="header-headline">my <div class="header-headline-bolded">SKILLS</div>coding</div>
    <div class="pagination">
        <!-- Left arrow link -->
        <a href="/experience">
            <i class="fas fa-arrow-left arrow" aria-label="Go to experience page"></i>
        </a>

        <!-- Right arrow link -->
        <a href="/holder2">
            <i class="fas fa-arrow-right arrow" aria-label="Go to holder2 page"></i>
        </a>
    </div>

    <div class="skills2-container">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="progress-title">HTML5 - 50%</h3>
                    <div class="progress red">
                        <div class="progress-bar" style="width:60%; background:#9F496E;"></div>
                    </div>

                    <h3 class="progress-title">CSS3 - 40%</h3>
                    <div class="progress yellow">
                        <div class="progress-bar" style="width:90%; background:#647295;"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="progress-title">C++ - 35%</h3>
                    <div class="progress red">
                        <div class="progress-bar" style="width:60%; background:#9F496E;"></div>
                    </div>

                    <h3 class="progress-title">SQL - 45%</h3>
                    <div class="progress yellow">
                        <div class="progress-bar" style="width:90%; background:#647295;"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="progress-title">Javascript - 25%</h3>
                    <div class="progress red">
                        <div class="progress-bar" style="width:60%; background:#9F496E;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<script type="module" src="./script.js"></script>