<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/atMedia.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Denis Ureke Experience</title>

</head>

<body>

    <div class="container-fluid" id="background-container">

        <div class="row" id="columns-container">

            <!--Menu Bar-->
            <nav class="col-xl-1 col-lg-1 col-md-12 col-sm-12" id="menu-buttons-container">

                <a href="home.html">
                    <div class="icon-menu" id="home-button">
                        <i class="fas fa-home"></i>
                        <div id="menu-text">home</div>
                    </div>
                </a>

                <a href="about.html">
                    <div class="icon-menu" id="education-button">
                        <i class="fas fa-user"></i>
                        <div id="menu-text">about</div>
                    </div>
                </a>

                <a href="projects.html">
                    <div class="icon-menu" id="work-button">
                        <i class="fas fa-briefcase"></i>
                        <div id="menu-text">projects</div>
                    </div>
                </a>

                <div class="icon-menu color-pink" id="comp-skills-button">
                    <i class="fas fa-star"></i>
                    <div id="menu-text">experience</div>
                </div>

                <div class="icon-menu" id="languages-button">
                    <i class="fas fa-comment"></i>
                    <div id="menu-text">forum</div>
                </div>

                <div class="icon-menu" id="other-button">
                    <i class="fas fa-ellipsis-h"></i>
                    <div id="menu-text">download</div>
                </div>

            </nav>

            <!--Contact info-->
            <section class="col-xl-3 col-lg-3 col-md-12 col-sm-12" id="contact-info-container">

                <img src="Img/Kaizuka.jpg" alt="Profile picture of Denis Ureke" id="img-contact">
                <div class="image-shape-container"><div id="image-shape"></div></div>

                <div id="name">
                    Denis Ureke
                </div>
                <div id="occupation">
                    Student
                </div>

                <section id="social-media-icons">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-github"></i>
                    <i class="fab fa-linkedin"></i>
                    <i class="fab fa-whatsapp"></i>
                </section>

                <footer id="contact-footer">
                    <a href="">Download CV</a>
                    <a href="">Contact Me</a>
                </footer>

            </section>

            <!--Main text-->
            <section class="col-xl-6 col-lg-8 col-md-12 col-sm-12" id="main-window-container">
                <div class="main-window-header-image"><img src="Img/skyandtrucks.jpg" alt="Picture of a sunset in city"
                        id="home-sunset-picture"></div>
                <div class="main-page-icon"><i class="fas fa-laptop current-page"></i></div>
                <div class="header-headline">my <div class="header-headline-bolded">SKILLS</div>coding</div>
                <div class="pagination">
                    <!-- Left arrow link -->
                    <a href="experience.html">
                        <i class="fas fa-arrow-left arrow" aria-label="Go to experience page"></i>
                    </a>
                
                    <!-- Right arrow link -->
                    <a href="holder2.html">
                        <i class="fas fa-arrow-right arrow" aria-label="Go to holder2 page"></i>
                    </a>
                </div>

                <div class="skills2-container">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="progress-title">HTML5 - 50%</h3>
                            <div class="progress red">
                                <div class="progress-bar" style="width:60%; background:#9F496E;"></div>
                            </div>
                 
                            <h3 class="progress-title">CSS3 - 40%</h3>
                            <div class="progress yellow">
                                <div class="progress-bar" style="width:90%; background:#647295;"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="progress-title">C++ - 35%</h3>
                            <div class="progress red">
                                <div class="progress-bar" style="width:60%; background:#9F496E;"></div>
                            </div>
                 
                            <h3 class="progress-title">SQL - 45%</h3>
                            <div class="progress yellow">
                                <div class="progress-bar" style="width:90%; background:#647295;"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="progress-title">Javascript - 25%</h3>
                            <div class="progress red">
                                <div class="progress-bar" style="width:60%; background:#9F496E;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            </section>

        </div>

    </div>
    <script src="script.js"></script>
</body>

</html>