<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/atMedia.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Denis Ureke home</title>
</head>

<body>

    <div class="container-fluid" id="background-container">

        <div class="row" id="columns-container">

            <!--Menu Bar-->
            <nav class="col-xl-1 col-lg-12 col-md-12 col-sm-12" id="menu-buttons-container">

                <div class="icon-menu color-pink" id="home-button">
                    <i class="fas fa-home"></i>
                    <div id="menu-text">home</div>
                </div>

                <a href="about.html">
                    <div class="icon-menu" id="education-button">
                        <i class="fas fa-user"></i>
                        <div id="menu-text">about</div>
                    </div>
                </a>

                <a href="projects.html">
                    <div class="icon-menu" id="work-button">
                        <i class="fas fa-briefcase"></i>
                        <div id="menu-text">projects</div>
                    </div>
                </a>

                <a href="experience.html">
                    <div class="icon-menu" id="comp-skills-button">
                        <i class="fas fa-star"></i>
                        <div id="menu-text">experience</div>
                    </div>
                </a>
                <a href="forum.html">
                    <div class="icon-menu" id="languages-button">
                        <i class="fas fa-comment"></i>
                        <div id="menu-text">comment</div>
                    </div>
                </a>
                <div class="icon-menu" id="other-button">
                    <i class="fas fa-ellipsis-h"></i>
                    <div id="menu-text">download</div>
                </div>

            </nav>

            <!--Contact info-->
            <section class="col-xl-3 col-lg-3 col-md-12 col-sm-12" id="contact-info-container">

                <img src="Img/Kaizuka.jpg" alt="Profile picture of Denis Ureke" id="img-contact">
                <div class="image-shape-container">
                    <div id="image-shape"></div>
                </div>

                <div id="name">
                    Denis Ureke
                </div>
                <div id="occupation">
                    Student
                </div>

                <section id="social-media-icons">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-github"></i>
                    <i class="fab fa-linkedin"></i>
                    <i class="fab fa-whatsapp"></i>
                </section>

                <footer id="contact-footer">
                    <a href="">Download CV</a>
                    <a href="">Contact Me</a>
                </footer>

            </section>

            <!--Main text-->
            <section class="col-xl-6 col-lg-8 col-md-12 col-sm-12" id="main-window-container">
                <div class="main-window-header-image"><img src="Img/sunset.jpg" alt="Picture of a sunset in city"
                        id="home-sunset-picture"></div>
                <div class="main-page-icon"><i class="fas fa-home current-page"></i></div>
                <div class="header-headline">stay<div class="header-headline-bolded">WELCOME</div>browse</div>
                <div class="flex-two-rows">
                    <div class="flex-left justify-text margin-1vh">
                        <div class="header-headline">a journey<div class="header-headline-bolded"></div>
                        </div>
                        <div class="margin-bottom-1vh">
                            Lorem ipsum, dolor sit elit. Magni soluta recusandae vel, officia
                            fugit illum asperiores culpa repellendus cum, sit officiis modi
                            dolor ullam. Expedita cupiditate, architecto, provident repellendus vel culpa maiores error
                            fuga repudiandae explicabo saepe a
                            natus perspiciatis officia aliquam, ad ut! Iure ipsa unde aspernatur mollitia obcaecati et
                            vero enim est cum perferendis. Corporis
                            laboriosam architecto est?</div>
                        <div class="spread margin-bottom-1vh"> <img src="img/park.jpg"
                                alt="A beautiful park blooming"></div>
                        <div>Lorem ipsum, dolor sit elit. Magni soluta recusandae vel, officia fugit illum asperiores
                            culpa repellendus cum, sit officiis modi
                            dolor ullam. Expedita cupiditate, architecto, provident repellendus vel culpa maiores error
                            fuga repudiandae explicabo saepe a
                            natus perspiciatis officia aliquam, ad ut! Iure ipsa unde aspernatur mollitia obcaecati et
                            vero enim est cum perferendis. Corporis
                            laboriosam architecto est?</div>
                    </div>
                    <div class="flex-right justify-text margin-1vh">
                        <div class="header-headline">
                            <div class="header-headline-bolded"></div>
                        </div>
                        <div>Lorem ipsum, dolor sit elit. Magni soluta recusandae vel, officia fugit illum asperiores
                            culpa repellendus cum, sit officiis modi
                            dolor ullam. Expedita cupiditate, architecto, provident repellendus vel culpa maiores error
                            fuga repudiandae explicabo saepe a natus perspiciatis officia aliquam.
                            <div class="header-headline margin-top-2">stronger together<div class="header-headline-bolded"></div>
                            </div>
                            <div class="margin-bottom-1vh">Lorem ipsum, dolor sit elit. Magni soluta recusandae vel,
                                officia fugit illum asperiores culpa repellendus cum, sit officiis modi
                                dolor ullam. Expedita cupiditate, architecto, provident repellendus vel culpa maiores
                                error fuga repudiandae explicabo saepe a
                                natus perspiciatis officia aliquam, ad ut! Iure ipsa unde aspernatur mollitia obcaecati
                                et vero enim est cum perferendis. Corporis
                                laboriosam architecto est?</div>
                            <div class="margin-bottom-1vh">Lorem ipsum, dolor sit elit. Magni soluta recusandae vel,
                                officia fugit illum asperiores culpa repellendus cum, sit officiis modi
                                dolor ullam. Expedita cupiditate, architecto, provident repellendus vel culpa maiores
                                error fuga repudiandae explicabo saepe a
                                natus perspiciatis officia aliquam, ad ut! Iure ipsa unde aspernatur mollitia obcaecati
                                et vero enim est cum perferendis. Corporis
                                laboriosam architecto est? Expedita cupiditate, architecto, provident architecto,
                                provident repellendus vel repellendus vel culpa maiores?Lorem ipsum dolor sit amet
                                consectetur adipisicing elit.
                                Expedita cupiditate, architecto, provident architecto, provident repellendus vel
                                dita cupiditate, architecto, provident repellendus vel culpa maiores
                                </div>
                        </div>
                    </div>


            </section>

        </div>

    </div>

</body>

</html>