</div>
</div>
<div class="container-fluid" id="background-container">
    <div class="row" id="columns-container">
        <div class="project-detail-container">
                        <div class="main-window-header-image">
                <img src="Img/tetris.jpg" alt="image of teris blocks" id="home-sunset-picture">
            </div>

            <div class="header-headline">
                my
                <div class="header-headline-bolded">TETRIS</div> game
            </div>

        </div>

    </div>
</div>