<div class="container" id="background-container">
    <div class="columns" id="columns-container">
        <div class="column col-3 col-xl-10 col-lg 12" id="project-detail-container">
            <div class="main-window-header-image">
                <img src="Img/cards.jpg" alt="image of fours aces" id="home-sunset-picture">
            </div>

            <div class="header-headline">
                my
                <div class="header-headline-bolded">Black-Jack</div> game
            </div>

            <div class="project-content-desription">Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                Obcaecati ex laudantium ab placeat ea voluptas, veritatis pariatur non ipsam aperiam unde quasi 
                deleniti laboriosam consequatur repudiandae, cumque natus eius nostrum odit recusandae. Eos alias 
                ex temporibus pariatur fugit perspiciatis porro similique consequuntur incidunt voluptatum ipsa rem 
                blanditiis distinctio, quam quod?</div>

                        <footer class="return-footer">
                            <a href="" title ="donwload"><i class="fas fa-download"></a></i>
                            <a href="/projects" title ="return"><i class="fas fa-arrow-left"></i></a>
                        </footer>
        </div>


    </div>

</div>
</div>